body{
    background-color: white;
    background-image: url(/cover.jpeg);
    display: block;


}
menu{

    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;          
    background-position-x: 15px;
    text-align: center;
}
.menu ul {
    display:inline-flex;
    list-style: none;
    list-style-type: none;
    color:grey;
}
.menu ul li {
    width: 50;
    margin: 15px;
    padding: 15px;
    background-color:none;
    box-sizing: none;
}
h1 {
        margin: 80px;
        letter-spacing: 12px;
        padding: 80px;
        text-align: center;
    
        color:red;
        font-family: inherit;
        font-size: 68px;
}