body {
    margin : 0;
    padding : 0;
    text-align : left;
    font : 75% "Trebuchet MS", verdana, arial, sans-serif;
    line-height : 1.5em;
    background : url(Media/Psychopath.jpg) repeat-y;
    background-position: inherit;
    color : #30f49c;
    display: block;
}
#wraper 
{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  #title{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    background-color: none;
    padding-left: 12px;

  }
  #container{
    padding-inline-start: 60px;
    display: inline-flex;
    padding: 15px;
  }
  #navCircle{
    display: inline-flex;
    font-size: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
      
  }